h1 {
    color: rgb(177, 135, 57);
}

.blue_overline_text {
    color: blue; /* This is a comment! */
    text-decoration: overline;
}
#red_underline_text {
    color: red;
    text-decoration: underline;
}